<!-- Section: Condition -->



<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@800&family=Raleway:wght@300&display=swap" rel="stylesheet">




  <section class = "side_nav_section">
      
    <div class = "row">
        <div class="col-sm-4">
            <h4 class = "title_heading">Choice of meat</h4>
  
        <div class="row">
                <div class="form-check checkbox_alignment">
      <input
        type="checkbox"
        class="filter-option form-check-input filled-in"
             id = "chicken"
      />
      <label
        class="form-check-label card-link-secondary label_text" >Chicken</label>
    </div>
        </div>
        <div class="row">
           
    <div class="form-check checkbox_alignment">
      <input
      
        type="checkbox"
        class="filter-option form-check-input filled-in"
             id = "mutton"
    
      />
      <label
        class="form-check-label card-link-secondary label_text" >Mutton</label>
</div> 
</div>
        
            <div class="row">
                
            <div class="form-check checkbox_alignment">
      <input
      
        type="checkbox"
        class="filter-option form-check-input filled-in"
    id = "beef"
      />
      <label
        class="form-check-label card-link-secondary label_text" >Beef</label>
</div> 
            </div>
        </div>
        <div class = "col-sm-8">
        <div class="row">
            <div class="col-sm" id = "chicken"><sly data-sly-resource="${'image1' @resourceType = '/libs/wcm/foundation/components/image'}"></sly>
                <br>
                <br>
                <h5 class = "tile_heading">Chicken Maharaja</h5>
            </div>
                  
            <div class="col-sm" id = "mutton"><sly data-sly-resource="${'image2' @resourceType = '/libs/wcm/foundation/components/image'}"></sly>
             <br>
                <br>
                <h5 class = "tile_heading">Mutton Maharaja</h5>
            </div>
            <div class="col-sm" id = "beef"><sly data-sly-resource="${'image3' @resourceType = '/libs/wcm/foundation/components/image'}"></sly>
             <br>
                <br>
                <h5 class = "tile_heading">Beef Maharaja</h5>
            </div>
            
            
            </div>
      
        </div>
      </div>  
 


  </section>



  <!-- Section: Condition -->